// This variables imported from order-foods project
$main-khoonegi: #664eca;
$Complement-khoonegi: #d144b1;
$text-gray: #828282;
$text-black: #263238;
$text-green: #4de994;
$text-red: #ff6767;
$text-white: #fff;
$text-light-gray: #cbcdd0;
$text-dark-gray: #7b7d7e;
$text-plan-gray: #9ea4ad;
$text-no-data-gray: #c7c7c7cc;
$primary-yellow: #6a44ff;
$bg-dark-white: #fdfdfd;
$bg-gray: #f8f9fb;
// New Colors
$dark-yellow: #ffa460;
$card-gary: #4e4e51;
$bg-mobile-landing: #f5f5f5;
$bg-light-yellow: #fff0d0;
$bg-login-yellow: #f8f6ff;
$input-label-color: #414141;
$input-color: #344767;
$input-focus-color: #1c1c1c;
$text-login-gray: #4b555a;
// typography
$radius-8: 7px !important;
